.mid-section{
    background-color:#daeef3;
    height:706px;
    z-index: 0;
    position: relative;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: space-between;
        color: $color-primary;

        #mid-left{
            padding-left: 60px;
            padding-top: 50px;

            h1{
                font-size: 25px;
                font-weight: 400px;
            }
            .p1{
                display: inline;
                padding-right: 60px;
                
            }
            .p2{
                display: inline;
                padding-right: 60px;
            }
            .p3{
                display: inline;
                padding-right: 60px;
            }

            .p1,.p2,.p3{
                font-weight: 600;
            }
        }  
// layer div
    .bottom{
        background-color: $color-white;
        justify-content: center;
        width:95%;
        height:300px;
        margin-left: $spacer-5;
        margin-right: $spacer-5;
        position: absolute;
        z-index:1;
        bottom: -5px;
        text-align: center;
        
       h5{
        padding-top: $spacer-4;
        font-weight: bold;
       }
        #row1{
            display: flex;
            padding-left: 15px;
            padding-right: 15px;
        }
        #row2{
            display: flex;
            padding-left: 15px;
            padding-top: 15px;
        }

        .minihead{
            font-weight: bold;
        }
    }
}