// color variables

$color-primary:#10385b;
$color-secondary:#3e5e7a;
$color-teritiary:#939393;
$color-dot:#07bbf2;
$color-white:#fff;

// fonts
$font-1:10px;
$font-sm:12px;
$font-md:16px;
$font-lg:20px;

// spacing

$spacer-0: 0;
$spacer-1:auto;
$spacer-2:8px;
$spacer-3:16px;
$spacer-4:24px;
$spacer-5:32px;
$spacer-6:40px;