* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  flex-wrap: wrap; }

.header {
  background-color: #fff;
  padding: auto; }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .header .icons li {
    display: inline; }
  .header .icons li a {
    color: #10385b;
    text-decoration: none; }
  .header .icons li p {
    display: inline;
    color: #939393; }
  .header .headlinks li {
    display: inline; }
  .header .headlinks li a {
    color: #939393;
    text-decoration: none; }
  .header .btn-primary {
    background-color: #10385b;
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif; }

@media (max-width: 991px) {
  .header .wrapper {
    display: block; } }
@media (max-width: 767px) {
  .header .wrapper {
    display: block; } }
.navbar {
  padding: 0; }
  .navbar .nav-sec {
    display: flex;
    justify-content: space-between; }
  .navbar .image {
    float: left;
    padding-right: 150px; }
  .navbar .navbar ul {
    float: right; }
  .navbar .toplinks li {
    display: inline;
    padding-left: 22px; }
  .navbar .toplinks li a {
    color: #3e5e7a;
    text-decoration: none; }

.banner {
  padding: auto; }
  .banner .bg {
    flex-wrap: wrap; }
  .banner .bg {
    width: 100%;
    height: 300px;
    background: linear-gradient(#3e5e7a, #000);
    color: #fff;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif; }
  .banner .para {
    padding-top: 32px; }

.label-college {
  padding-top: 16px; }
  .label-college .fixedcontent {
    width: 1120px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between; }
    .label-college .fixedcontent p {
      color: #939393;
      padding: 16px; }
    .label-college .fixedcontent h1 {
      color: #10385b; }
  .label-college .text1 {
    display: inline; }
  .label-college .text2 {
    display: inline;
    padding-top: 10px; }

.mid-section {
  background-color: #daeef3;
  height: 706px;
  z-index: 0;
  position: relative;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  color: #10385b; }
  .mid-section #mid-left {
    padding-left: 60px;
    padding-top: 50px; }
    .mid-section #mid-left h1 {
      font-size: 25px;
      font-weight: 400px; }
    .mid-section #mid-left .p1 {
      display: inline;
      padding-right: 60px; }
    .mid-section #mid-left .p2 {
      display: inline;
      padding-right: 60px; }
    .mid-section #mid-left .p3 {
      display: inline;
      padding-right: 60px; }
    .mid-section #mid-left .p1, .mid-section #mid-left .p2, .mid-section #mid-left .p3 {
      font-weight: 600; }
  .mid-section .bottom {
    background-color: #fff;
    justify-content: center;
    width: 95%;
    height: 300px;
    margin-left: 32px;
    margin-right: 32px;
    position: absolute;
    z-index: 1;
    bottom: -5px;
    text-align: center; }
    .mid-section .bottom h5 {
      padding-top: 24px;
      font-weight: bold; }
    .mid-section .bottom #row1 {
      display: flex;
      padding-left: 15px;
      padding-right: 15px; }
    .mid-section .bottom #row2 {
      display: flex;
      padding-left: 15px;
      padding-top: 15px; }
    .mid-section .bottom .minihead {
      font-weight: bold; }

.img-form {
  padding-top: 500px; }
  .img-form form {
    padding-top: 50px; }
  .img-form .btn-formbtn {
    margin-top: 8px;
    padding: 5px;
    color: white;
    background-color: #10385b; }

.footer1 {
  background-color: #e9e9e9;
  padding-top: 50px; }
  .footer1 #ftrrow1 div {
    padding-left: 50px;
    color: #3e5e7a; }
    .footer1 #ftrrow1 div .phead {
      color: #10385b;
      font-weight: bold; }

.ftrlinks {
  width: 100%;
  background-color: #10385b;
  color: #fff; }
  .ftrlinks a {
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 20px;
    display: block; }
  .ftrlinks a:hover {
    text-decoration: underline; }
  .ftrlinks p {
    font-size: 14px;
    padding-bottom: 20px; }

.ftrlinks div {
  text-align: left; }

.footers {
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between; }

.bordersec {
  border-left: 1px solid grey;
  padding-left: 30px;
  display: flex;
  align-items: center; }
  .bordersec span {
    margin-right: 15px; }

.footer3 {
  background-color: #150d2d;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer3 .links3 a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 0px 30px; }
    .footer3 .links3 a:hover {
      text-decoration: underline; }
  .footer3 .social {
    padding: 30px; }
    .footer3 .social a {
      font-size: 19px;
      color: white;
      padding: 0px 8px; }
      .footer3 .social a :hover {
        color: #07bbf2; }

/*# sourceMappingURL=style.css.map */
